extends index

append locals
  - assetPackage = locals.assetPackage || ''
  - bodyClass = bodyClass + ' ' + (locals.bodyClass || '')

block head
  meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
  meta(http-equiv='Pragma', content='no-cache')
  meta(http-equiv='Expires', content='0')

  != head
  != css
  != styleTags

block body
  script.
    var __BOOTSTRAP__ = !{JSON.stringify(data)}

  #react-root
    != body
  #react-portal

  if jsonLD
    include ./json_ld
